@font-face {
    font-family: "oswald";
    src: url(Fonts/OSWALD/OFL.txt);
}

main {
    height: 7500px;
    width: 1366px;
    margin: 0 auto;
    background-color: rgba(48, 18, 44, 0);
    border-color: aqua;
}

header {
    width: 1366px;
    height: 325px;
    background-color: #2c3c4b;
    position: static;
    border: 1px solid; color: rgb(0, 0, 0);
}
.Logo {
    width: 1366px;
    height: 32px;
    text-align: center;
    position: relative;
}

nav {
    width: 1366px;
    height: 60px;
    background-color: #305160;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none; color: rgb(0, 0, 0); font-family: "Noto Sans JP", sans-serif;
    padding: 15px;
}

section {
    width: 1331px;
    height: 6810px;
    padding-left: 35px;
    border: 1px solid; color: black;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/1/18/Starset_Vessels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section fieldset {
    border-color: #000000;
}

.Titulo1 {
    height: 1100px;
    width: 550px;
    background-color: rgba(4, 2, 83, 0.417);
    float: left;
    padding-left: 20px;
}
.Texto1 {
    height: 945px;
    width: 500px;
    background-color: #3051608b;
    padding: 16px;
    border: 1px solid; color: black;
    margin-top: 20px;
    font-family: "oswald";
    font-size: large;
}
.Titulo2 {
    height: 1100px;
    width: 700px;
    background-color: rgba(4, 2, 83, 0.417);
    float: left;
    padding-left: 20px;
    
}
.Texto2 {
    height: 550px;
    width: 500px;
    background-color: #3051608b;
    padding: 37px;
    border: 1px solid; color: black;
    font-family: "oswald";
    font-size: x-large;
}
.Imagen {
    height: 350px;
    width: 575px;
    background-color: #2548588b;

    text-align: center;
}
footer{
    width: 1366px;
    height: 305px;
}
.Titulo3 {
    width: 1366px;
    height: 105px;
    background-color: #2c3c4b;
    border: 1px solid; color: black;
}
.Texto3 {
    width: 1250px;
    height: 200px;
}